body {
	margin: 20px;
	background: #ceddce;
	font-family: georgia;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	display: inline;
}

form {
	display: inline;
}

.logo {
	width: 100px;
	height: 100px;
	margin: 5px;
	border: dashed black;
}

.logo:active {
	border: solid;
}

#top {
	color: #695800;
	font-size: 300%;
}

#top span {
	color: #b09400;
}
