<!doctype html>
<html>
<head>
    <title>Jerry's Libeery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<h1 id="top"><a ui-sref="main" ng-click="lastClick='main'">Jerry's Li<span>beer</span>y</a></h1>
<a ui-sref="deschutes"><img ng-click="lastClick='deschutes'" class="logo" src="images/deschutes.png"></a>
<a ui-sref="pabst"><img ng-click="lastClick='pabst'" class="logo" src="images/pabst.jpg"></a>
<a ui-sref="rogue"><img ng-click="lastClick='rogue'" class="logo" src="images/rogue.jpg"></a>
<a ui-sref="slyfox"><img ng-click="lastClick='slyfox'" class="logo" src="images/slyfox.jpg"></a>
<a ui-sref="starrhill"><img ng-click="lastClick='starrhill'" class="logo" src="images/starrhill.jpg"></a>
<br/>
<form><input type="text" ng-change="displaySearch(beerSearch)" ng-model="beerSearch" placeholder="Search Beer"><p id="search-output">{{ beerSearch }} </p></form>

<div ui-view></div>
</body>
</html>